/** RESETS **/

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul{
    list-style: none;


}

body{
    background-color: #272B33;
    font-family: Arial, Helvetica, sans-serif;
}

.page__header-container{
    display: flex;
    justify-content: space-between;
    min-width: 50px;
    padding: 8px 16px;
    background-color: #fff;
}

.page-nav__list{
    display: flex;
    gap: 12px;
    align-items: center;
}

.page-nav__item{
    text-decoration: none;
    color: black;
}

.page-nav__item.page-nav__item--primary{
    background-color: #fbc02d;
    padding: 0.5rem;
    color: #fff;
    border-radius: 5px;

}