body{
    background-color: var(--db-page-bg);
    font-family: Arial, Helvetica, sans-serif;
}

.page__header-container{
    display: flex;
    justify-content: space-between;
    min-width: 50px;
    padding: var(--db-spacing-s) var(--db-spacing-lg);
    background-color: #fff;
}

.page-nav__list{
    display: flex;
    gap: var(--db-spacing-md);
    align-items: center;
}

.page-nav__item{
    text-decoration: none;
    color: #000000;
}

.page-nav__item.page-nav__item--primary{
    background-color: var(--db-color-primary);
    padding: var(--db-spacing-s);
    color: #000000;
    border-radius: var(--db-rounded-xs);
}